<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CURSOS</title>
  <link rel="stylesheet" href="../css/main.css" />

</head>
<body>

<header>
  <div class="container">
    <h4> Generar Nuevo Curso </h4>
  </div>
</header>
<div class="container">
  <form action = "course/create" method="post" role="form" th:action="@{/course/create}" >
    <div class = "form-group">
      <input type="text" class="form-group" id="name" name="name" placeholder="Nombre Curso">
      </div>
    <button type="submit" class="btn btn-primary"> Subir </button>
  </form>
</div>
</body>
</html>